{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block title %}{% if form.errors %}{% translate "Error:" %} {% endif %}{{ block.super }}{% endblock %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/login.css" %}">
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login {% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content_title %}{% endblock %}

{% block nav-breadcrumbs %}{% endblock %}

{% block content %}
<main class="auth-page-wrapper">
  <div id="content-main" class="auth-form-container">
      <div class="auth-container auth-container--login">
        <div class="Legend">
          <h1 class="auth-title">Log In</h1>
        </div>

        {% if form.errors and not form.non_field_errors %}
        <p class="errornote error-message">
          {% blocktranslate count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktranslate %}
        </p>
        {% endif %}

        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="errornote error-message">
            {{ error }}
        </p>
        {% endfor %}
        {% endif %}

        {% if user.is_authenticated %}
        <p class="errornote error-message">
        {% blocktranslate trimmed %}
            You are authenticated as {{ username }}, but are not authorized to
            access this page. Would you like to login to a different account?
        {% endblocktranslate %}
        </p>
        {% endif %}

        <form class="auth-form" action="{{ app_path }}" method="post" id="login-form">
          {% csrf_token %}
          <div class="form-row InputField">
            {% if form.username.errors %}
              <div class="error-message">
                {{ form.username.errors }}
              </div>
            {% endif %}
            {{ form.username.label_tag }} {{ form.username }}
          </div>
          <div class="form-row InputField">
            {% if form.password.errors %}
              <div class="error-message">
                {{ form.password.errors }}
              </div>
            {% endif %}
            {{ form.password.label_tag }} {{ form.password }}
            <input type="hidden" name="next" value="{{ next }}">
          </div>
          {% url 'admin_password_reset' as password_reset_url %}
          {% if password_reset_url %}
          <div class="password-reset-link">
            <a href="{{ password_reset_url }}">{% translate 'Forgotten your login credentials?' %}</a>
          </div>
          {% endif %}
          <div class="submit-row">
            <input type="submit" class="button button--primary" value="{% translate 'Log in' %}">
          </div>
        </form>
      </div>
  </div>
</main>
{% endblock %}