{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- Main Content -->
<main class="task-calendar">
    <div class="task-card">
        <div class="category_name_menu">
            <h3 class="section-title">{{ date|date:"M d, Y" }}</h3>
        </div>
        {% for task in tasks %}
            <a href="{% url 'tasks:task-detail' task.slug %}" class="product-card-link">
                <div class="calendar-task-card">
                    <div class="product-card__info">
                        <p class="product-card__description">{{ task.category }}</p>
                        <form action="{% url 'tasks:task-complete' task.slug %}?next={{ request.path }}" method="post">
                            {% csrf_token %}
                            <div class="CheckboxField">
                                <label class="checkbox-task">
                                    <input type="checkbox" name="is_completed" class="checkbox-task-input checkbox-task-complete" value="{{ task.is_completed }}">
                                    <span class="checkmark"></span>
                                </label>
                                <h4 class="product-card__name">{{ task.name }}</h4>
                            </div>
                            <button type="submit" hidden></button>
                        </form>
                    </div>
                    <div>
                        <form action="{% url 'tasks:task-delete' task.slug %}?next={{ request.path }}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="quantity-btn-cart"><i class="fa-solid fa-times"></i></button>
                        </form>
                    </div>
                </div>
            </a>
        {% endfor %}
        <form action="{% url 'tasks:task-create' %}?next={{ request.path }}" method="post">
            {% csrf_token %}
            <div class="cart-item__quantity-selector">
                <input type="text" name="name" class="InputTask" placeholder="Add new task">
                <input type="hidden" name="date" value="{{ date|date:'M d, Y' }}">
                <button type="submit" class="quantity-btn-cart"><i class="fa-solid fa-plus"></i></button>
            </div>
        </form>
    </div>


    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCalendar" aria-controls="offcanvasCalendar">
        Choose date
    </button>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasCalendar" aria-labelledby="offcanvasCalendarLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasCalendarLabel">Calendar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
    </div>
    <div class="offcanvas-body">
        <!-- Calendar 1 - Bootstrap Brain Component -->
        <div class="py-3 py-md-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="card widget-card border-light shadow-sm">
                            <div class="card-body p-4">
                                <div id="bsb-calendar-1" class="fc fc-media-screen fc-direction-ltr fc-theme-bootstrap5 bsb-calendar-theme"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}