<div class="modal-header">
    <h5 class="modal-title" id="deleteCategoryModal{{ category.id }}Label">Delete category?</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <p>Сategory <b>{{ category.name }}</b> will be permanently deleted</p>
</div>
<div class="modal-footer">
    <button type="button" class="button button--secondary" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="button button--primary">Delete</button>
</div>



