{% extends 'base.html' %}

{% load static %}
{% load my_filters %}

{% block content %}

<!-- Modal form for category add -->
<div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        {% include 'tasks/add-category.html' %}
    </div>
  </div>
</div>

<!-- Modal form for category delete -->
<div class="modal fade delete-category" id="deleteCategoryModal" tabindex="-1" aria-labelledby="deleteCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post">
                {% csrf_token %}
                {% include 'tasks/confirm_delete.html' %}
            </form>
        </div>
    </div>
</div>

<!-- Modal form for task delete -->
<div class="modal fade delete-task" id="deleteTaskModal" tabindex="-1" aria-labelledby="deleteTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post">
                {% csrf_token %}
                {% include 'tasks/confirm_delete.html' %}
            </form>
        </div>
    </div>
</div>


<!-- Main Content -->
<main>
<!--    <section class="hero-banner">-->
<!--        <img src="{% static 'img/background/hopfen-fields.jpg' %}" alt="Beautiful hops on a dark background" class="hero-banner__image">-->
<!--        <div class="hero-banner__overlay"></div>-->
<!--    </section>-->

    <div class="main-content-grid">

        <!-- Filter panel -->
        <aside class="sidebar filter-menu">
            <div class="sidebar__section">
                <h3 class="section-title">Keywords</h3>
                <div class="keywords-list">
                </div>
            </div>

            <div class="sidebar__section">
                <h3 class="section-title">Categories</h3>
                <div class="checkbox-group">
                    {% for category in all_categories %}
                        <label class="checkbox-container">{{ category.name }}
                            <input type="checkbox" class="category-checkbox" data-keyword="{{ category.slug }}">
                            <span class="checkmark"></span>
                        </label>
                    {% empty %}
                        <p>No categories found.</p>
                    {% endfor %}
                </div>
            </div>

            <div class="sidebar__section">
                <h3 class="section-title">Tags</h3>
                <div class="checkbox-group">
                    {% for tag in tags %}
                        <label class="checkbox-container">{{ tag.name }}
                            <input type="checkbox" class="tag-checkbox" data-keyword="{{ tag.name }}">
                            <span class="checkmark"></span>
                        </label>
                    {% empty %}
                        <p>No tags found.</p>
                    {% endfor %}
                </div>
            </div>

            <div class="sidebar__section">
                <button class="button button--primary" id="filter-button">Filter</button>
            </div>
        </aside>

        <section class="products-area product-grid-section">

            <!-- Search, sort and menu panel -->
            <div class="search-sort-bar">
                <div class="search-input-wrapper">
                    <input type="text" placeholder="Search" class="search-input">
                    <button class="search-button" aria-label="Search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>

                <div class="sort-options">
                    {% for item in sort_options %}
                    <button class="sort-button" data-sort="{{ item.key }}">
                        <span>{{ item.label }}</span>
                    </button>
                    {% endfor %}
                </div>

                <div class="dropdown">
                  <button class="button button--ellipsis" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-ellipsis-v"></i>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'tasks:delete-completed' %}">Delete completed</a></li>
                    <li>
                        <a id="addCategory" class="dropdown-item" href="{% url 'tasks:category-create' %}" data-bs-toggle="modal" data-bs-target="#addCategoryModal">Add category</a>
                    </li>
                  </ul>
                </div>
            </div>

            <!-- Categories and tasks list -->
            <div class="product-grid">
                {% for category in categories %}

                    <!-- Card for category and its tasks -->
                    <div class="category-card">
                        <div class="category_name_menu">
                            <h3 class="section-title">{{ category.name }}</h3>
                            <a class="quantity-btn-cart" data-bs-toggle="modal" data-bs-target="#deleteCategoryModal" data-bs-pk="{{ category.pk }}" data-bs-name="{{ category.name }}">
                                <i class="fa-solid fa-times"></i>
                            </a>
                        </div>

                        {% for task in category.tasks.all %}
                        <div class="product-card">
                            <div class="category-task-card">
                                <a href="{% url 'tasks:task-detail' request.user.username task.slug %}?next={{ request.get_full_path }}" class="product-card-link">
                                    <div class="tag-section">
                                        {% for tag in task.tags.all %}
                                          <div class="tag-line" data-color="{{ tag.color }}"></div>
                                        {% endfor %}
                                    </div>

                                    <div class="product-card__info">
                                        <form action="{% url 'tasks:task-complete' task.pk %}?next={{ request.get_full_path }}" method="post">
                                          {% csrf_token %}
                                          <div class="CheckboxField">
                                            <label class="checkbox-task">
                                                <input type="checkbox" name="is_completed" class="checkbox-task-input checkbox-task-complete" value="{{ task.is_completed }}">
                                                <span class="checkmark"></span>
                                            </label>
                                            <h4 class="product-card__name">{{ task.name }}</h4>
                                          </div>
                                          <button type="submit" hidden></button>
                                        </form>
                                        {% if task.date %}
                                            <p class="product-card__price">{{ task.date }}</p>
                                        {% endif %}
                                        {% if task.description %}
                                            <p class="product-card__description">{{ task.description|truncatechars:95 }}</p>
                                        {% endif %}
                                    </div>
                                    <div>
                                        <p class="subtask-count">Subtasks: {{ task.subtasks_completed }}/{{ task.subtasks_total }}</p>
                                    </div>
                                </a>

                                <a class="quantity-btn-cart" data-bs-toggle="modal" data-bs-target="#deleteTaskModal" data-bs-pk="{{ task.pk }}" data-bs-name="{{ task.name }}">
                                    <i class="fa-solid fa-times"></i>
                                </a>
                            </div>

                        </div>
                        {% endfor %}
                        <form action="{% url 'tasks:task-create' %}?next={{ request.get_full_path }}" method="post">
                            {% csrf_token %}
                            <div class="cart-item__quantity-selector">
                                <input type="text" name="name" class="InputTask" placeholder="Add new task" required>
                                <input type="hidden" name="category" value="{{ category.pk }}">
                                <button type="submit" class="quantity-btn-cart"><i class="fa-solid fa-plus"></i></button>
                            </div>
                        </form>
                    </div>
                {% empty %}
                    <p>No categories found.</p>
                {% endfor %}
            </div>

            <!-- Pagination panel -->
            <div class="pagination">
                {% if page_obj.has_previous %}
                <a href="?{% update_query_string request page_obj.previous_page_number %}" class="pagination__link pagination__link--prev">
                    <i class="fa-solid fa-arrow-left"></i>
                    <span>Previous</span>
                </a>
                {% endif %}
                <div class="pagination-list">

                    {% if page_obj.has_previous %}
                        {% if page_obj.number < 5 %}
                            {% for number in page_obj.previous_page_number|create_range %}
                                <a href="?{% update_query_string request number %}" class="pagination__link">{{ number }}</a>
                            {% endfor %}
                        {% else %}
                            <a href="?{% update_query_string request 1 %}" class="pagination__link">1</a>
                            <span class="pagination__dots">...</span>
                            <a href="?{% update_query_string request page_obj.previous_page_number %}" class="pagination__link">{{ page_obj.previous_page_number }}</a>
                        {% endif %}
                    {% endif %}

                    <a href="#" class="pagination__link active">{{ page_obj.number }}</a>

                    {% if page_obj.has_next %}
                        {% if page_obj.number > page_obj.paginator.num_pages|add:-4 %}
                            {% for number in page_obj.paginator.num_pages|create_range:page_obj.next_page_number %}
                                <a href="?{% update_query_string request number %}" class="pagination__link">{{ number }}</a>
                            {% endfor %}
                        {% else %}
                            <a href="?{% update_query_string request page_obj.next_page_number %}" class="pagination__link">{{ page_obj.next_page_number }}</a>
                            <span class="pagination__dots">...</span>
                            <a href="?{% update_query_string request page_obj.paginator.num_pages %}" class="pagination__link">{{ page_obj.paginator.num_pages }}</a>
                        {% endif %}
                    {% endif %}

                </div>
                {% if page_obj.has_next %}
                <a href="?{% update_query_string request page_obj.next_page_number %}" class="pagination__link pagination__link--next">
                    <span>Next</span>
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
                {% endif %}
            </div>
        </section>
    </div>
</main>

{% endblock %}