{% extends 'base.html' %}

{% load static %}
{% load my_filters %}

{% block content %}

<div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addCategoryModalLabel">Add category</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {% include 'tasks/add-category.html' %}
        </div>
    </div>
  </div>
</div>

<!-- Main Content -->
<main>
    <section class="hero-banner">
        <img src="{% static 'img/background/hopfen-fields.jpg' %}" alt="Beautiful hops on a dark background" class="hero-banner__image">
        <div class="hero-banner__overlay"></div>
    </section>

    <div class="container main-content-grid">
        <aside class="sidebar filter-menu">
            <div class="sidebar__section">
                <h3 class="section-title">Keywords</h3>
                <div class="keywords-list">
                </div>
            </div>

            <div class="sidebar__section">
                <h3 class="section-title">Categories</h3>
                <div class="checkbox-group">
                    {% for category in all_categories %}
                        <label class="checkbox-container">{{ category.name }}
                            <input type="checkbox" class="category-checkbox" data-keyword="{{ category.slug }}">
                            <span class="checkmark"></span>
                        </label>
                    {% empty %}
                        <p>No categories found.</p>
                    {% endfor %}
                </div>
            </div>

            <div class="sidebar__section">
                <h3 class="section-title">Tags</h3>
                <div class="checkbox-group">
                    {% for tag in tags %}
                        <label class="checkbox-container">{{ tag.name }}
                            <input type="checkbox" class="tag-checkbox" data-keyword="{{ tag.name }}">
                            <span class="checkmark"></span>
                        </label>
                    {% empty %}
                        <p>No tags found.</p>
                    {% endfor %}
                </div>
            </div>

            <div class="sidebar__section">
                <button class="button button--primary" id="filter-button">Filter</button>
            </div>
        </aside>

        <section class="products-area product-grid-section">
            <div class="search-sort-bar">
                <div class="search-input-wrapper">
                    <input type="text" placeholder="Search" class="search-input">
                    <button class="search-button" aria-label="Search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
                <div class="dropdown">
                  <button class="button button--secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    ...
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'tasks:delete-completed' %}">Delete completed</a></li>
                    <li>
                        <a id="addCategory" class="dropdown-item" href="{% url 'tasks:category-create' %}" data-bs-toggle="modal" data-bs-target="#addCategoryModal">Add category</a>
                    </li>
                  </ul>
                </div>
                <div class="sort-options">
                    {% for item in sort_options %}
                    <button class="sort-button {% if item.key == 'date_asc' %}active-sort{% endif %}" data-sort="{{ item.key }}">
                        <span>{{ item.label }}</span>
                    </button>
                    {% endfor %}
                </div>
            </div>

            <div class="product-grid">
                {% for category in categories %}
                <div class="product-card">
                    <form action="{% url 'tasks:category-delete' category.slug %}" method="post">
                        {% csrf_token %}
                        <div class="category_name_menu">
                            <h3 class="section-title">{{ category.name }}</h3>
                            <button type="submit" class="quantity-btn-cart"><i class="fa-solid fa-times"></i></button>
                        </div>
                    </form>
                    {% for task in category.tasks.all %}
                    <a href="{% url 'tasks:task-detail' task.slug %}?next={{ request.get_full_path }}" class="product-card-link">
                        <div class="product-card">
                            <div class="tag-section">
                                {% for tag in task.tags.all %}
                                  <div class="tag-line" data-color="{{ tag.color }}"></div>
                                {% endfor %}
                            </div>
                            <div class="product-card__info">
                                <form action="{% url 'tasks:task-complete' task.slug %}?next={{ request.get_full_path }}" method="post">
                                  {% csrf_token %}
                                  <div class="CheckboxField">
                                    <label class="checkbox-task">
                                        <input type="checkbox" name="is_completed" class="checkbox-task-input checkbox-task-complete" value="{{ task.is_completed }}">
                                        <span class="checkmark"></span>
                                    </label>
                                    <h4 class="product-card__name">{{ task.name }}</h4>
                                  </div>
                                  <button type="submit" hidden></button>
                                </form>
                                {% if task.date %}
                                    <p class="product-card__price">{{ task.date }}</p>
                                {% endif %}
                                {% if task.description %}
                                    <p class="product-card__description">{{ task.description|truncatechars:70 }}</p>
                                {% endif %}
                            </div>
                            <div>
                                <p class="subtask-count">Subtasks: {{ task.subtasks_completed }}/{{ task.subtasks_total }}</p>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                    <form action="{% url 'tasks:task-create' %}?next={{ request.get_full_path }}" method="post">
                        {% csrf_token %}
                        <div class="cart-item__quantity-selector">
                            <input type="text" name="name" class="InputTask" placeholder="Add new task" required>
                            <input type="hidden" name="category" value="{{ category.slug }}">
                            <button type="submit" class="quantity-btn-cart"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </form>
                </div>
                {% empty %}
                    <p>No categories found.</p>
                {% endfor %}
            </div>

            <div class="pagination">
                {% if page_obj.has_previous %}
                <a href="?{% update_query_string request page_obj.previous_page_number %}" class="pagination__link pagination__link--prev">
                    <i class="fa-solid fa-arrow-left"></i>
                    <span>Previous</span>
                </a>
                {% endif %}
                <div class="pagination-list">

                    {% if page_obj.has_previous %}
                        {% if page_obj.number < 5 %}
                            {% for number in page_obj.previous_page_number|create_range %}
                                <a href="?{% update_query_string request number %}" class="pagination__link">{{ number }}</a>
                            {% endfor %}
                        {% else %}
                            <a href="?{% update_query_string request 1 %}" class="pagination__link">1</a>
                            <span class="pagination__dots">...</span>
                            <a href="?{% update_query_string request page_obj.previous_page_number %}" class="pagination__link">{{ page_obj.previous_page_number }}</a>
                        {% endif %}
                    {% endif %}

                    <a href="#" class="pagination__link active">{{ page_obj.number }}</a>

                    {% if page_obj.has_next %}
                        {% if page_obj.number > page_obj.paginator.num_pages|add:-4 %}
                            {% for number in page_obj.paginator.num_pages|create_range:page_obj.next_page_number %}
                                <a href="?{% update_query_string request number %}" class="pagination__link">{{ number }}</a>
                            {% endfor %}
                        {% else %}
                            <a href="?{% update_query_string request page_obj.next_page_number %}" class="pagination__link">{{ page_obj.next_page_number }}</a>
                            <span class="pagination__dots">...</span>
                            <a href="?{% update_query_string request page_obj.paginator.num_pages %}" class="pagination__link">{{ page_obj.paginator.num_pages }}</a>
                        {% endif %}
                    {% endif %}

                </div>
                {% if page_obj.has_next %}
                <a href="?{% update_query_string request page_obj.next_page_number %}" class="pagination__link pagination__link--next">
                    <span>Next</span>
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
                {% endif %}
            </div>
        </section>
    </div>
</main>

{% endblock %}