{% extends 'base.html' %}

{% load static %}
{% block content %}

<div class="modal fade" id="tagsModal" tabindex="-1" aria-labelledby="tagsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="{% url 'tags:tag-list' task.id %}" method="post">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="tagsModalLabel">Tags</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {% include 'tags/tag-list.html' %}
        </div>
        <div class="modal-footer">
          <button type="button" class="button button--secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="button button--primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Main Content -->
<main class="page-product">
  <div class="container">
    <div class="review-card">
    <div class="task-info">
        <form id="task-form" method="post">
        {% csrf_token %}

    <!-- Task Category Section -->
    <section class="product-details-section">
      <div class="review-rating">
        <span class="author-name"># {{ form.category }}</span>
      </div>
    </section>

    <!-- Task Info Section -->
    <section class="product-details-section">
      <div class="product-info-column">
        <div class="CheckboxField">
          <label class="checkbox-task">
            {{ form.is_completed }}
            {{ form.name }}
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="product-title-price">
          <div class="tag-section">
            {% for tag in task.tags.all %}
              <span class="price-tag" data-color="{{ tag.color }}">{{ tag.name }}</span>
            {% endfor %}
          </div>
          <a id="showTags" href="{% url 'tags:tag-list' task.id %}" class="fa-plus" data-bs-toggle="modal" data-bs-target="#tagsModal"></a>
        </div>
        <div class="product-description">{{ form.description }}
        </div>
        <div class="review-rating">
          <span>{{ form.date }}</span>
        </div>
      </div>
    </section>

    <!-- Subtasks -->
    <section class="accordion-section">
      <div class="accordion-item">
        <div class="accordion-title">
          <h3>Subtasks</h3>
          <i class="fa-solid fa-chevron-down accordion-icon"></i>
        </div>
        <div class="accordion-content">
          {% for subtask in task.subtasks.all %}
                <div class="calendar-task-card">
                    <div class="product-card__info">
                        <form action="{% url 'tasks:subtask-complete' subtask.id %}?next={{ request.path }}" method="post">
                            {% csrf_token %}
                            <div class="CheckboxField">
                                <label class="checkbox-task">
                                    <input type="checkbox" name="is_completed" class="checkbox-task-input checkbox-task-complete" value="{{ subtask.is_completed }}">
                                    <span class="checkmark"></span>
                                </label>
                                <h4 class="product-card__name">{{ subtask.name }}</h4>
                            </div>
                            <button type="submit" hidden></button>
                        </form>
                    </div>
                    <div>
                        <form action="{% url 'tasks:subtask-delete' subtask.id %}?next={{ request.path }}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="quantity-btn-cart"><i class="fa-solid fa-times"></i></button>
                        </form>
                    </div>
                </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <div class="ButtonGroup">
      <button type="submit" class="button button--primary">Save</button>
    </div>
      </form>
    </div>

    <div class="task-delete">
      <form action="{% url 'tasks:task-delete' task.slug %}" method="post">
        {% csrf_token %}
        <button type="submit" class="quantity-btn-cart"><i class="fa-solid fa-times fa-2x"></i></button>
      </form>
    </div>
    </div>
  </div>
</main>

{% endblock %}