{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- Main Content -->
<main class="page-product">
  <div class="container">
    <div class="review-card">
    <form id="task-form" method="post">
      {% csrf_token %}

    <!-- Task Category Section -->
    <section class="product-details-section">
      <div class="review-rating">
        <span class="author-name"># Today</span>
      </div>
    </section>

    <!-- Task Info Section -->
    <section class="product-details-section">
      <div class="product-info-column">
        <div class="CheckboxField">
          <label class="checkbox-task">
            {{ form.is_completed }}
            {{ form.name }}
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="product-title-price">
          <div class="tag-section">
            <span class="price-tag">per 1 lb</span>
          </div>
        </div>
        <div class="product-description">{{ form.description }}
        </div>
        <div class="review-rating">
          <span>{{ form.date }}</span>
        </div>
      </div>
    </section>

    <!-- Subtasks -->
    <section class="accordion-section">
      <div class="accordion-item">
        <div class="accordion-title">
          <h3>Subtasks</h3>
          <i class="fa-solid fa-chevron-down accordion-icon"></i>
        </div>
        <div class="accordion-content">

        </div>
      </div>
    </section>

    <div class="ButtonGroup">
      <button type="submit" class="button button--primary">Save</button>
    </div>
    </form>

    </div>
  </div>
</main>

{% endblock %}