{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- Main Content -->
<main class="auth-page-wrapper">
  <div class="auth-background">
    <img src="{% static 'img/background/pattern.jpg' %}" alt="Background pattern">
  </div>
  <div class="auth-form-container">
    <div class="auth-container auth-container--forgot-password">
      <form class="auth-form" method="post">
        {% csrf_token %}
        <div class="InputField">
          <label for="new_password1">New password</label>
          <input type="password" id="new_password1" name="new_password1" class="Input" placeholder="Value" required>
        </div>
        <div class="InputField">
          <label for="new_password2">Repeat password</label>
          <input type="password" id="new_password2" name="new_password2" class="Input" placeholder="Value" required>
        </div>

        <div class="ButtonGroup ButtonGroup--center">
          <button type="submit" class="button button--primary">Reset Password</button>
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock %}