{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- Main Content -->
<main class="auth-page-wrapper">
  <div class="auth-background">
    <img src="{% static 'img/background/pattern.jpg' %}" alt="Background pattern">
  </div>
  <div class="auth-form-container">
    <div class="auth-container auth-container--forgot-password">
      <form class="auth-form" id="forgot-password-form" method="post">
        {% csrf_token %}
        <div class="InputField">
          {% for field in form %}
            <div class="InputField">
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {{ field }}
              {% for error in field.errors %}
              <div class="error-message">{{ error }}</div>
              {% endfor %}
            </div>
            {% endfor %}
        </div>

        <div class="ButtonGroup ButtonGroup--center">
          <a href="{% url 'users:login' %}" class="button button--cancel">Cancel</a>
          <button type="submit" class="button button--primary">Reset Password</button>
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock %}